<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--  By default, the scope is 'singleton' on bean tag  -->

    <bean id="alien" class="org.example.Alien" autowire="byType">
<!--   In the attribute 'name', the instance variable name i.e. age should be provided. Then, it will look for the 'setter method' i.e. setAge() of 'age' variable, and pass the value: 27 through parameter of setter method. This is how setter injection works.     -->
        <property name="age" value="27" />
        <property name="salary" value="100000000" />
        <property name="computer" ref="computer2" />

<!--    This constructor tag is used if value is to be passed through param constructor in the 'Alien' bean (class).     -->
<!--        <constructor-arg index="0" value="27" />-->
<!--        <constructor-arg index="1" value="999999" />-->
<!--        <constructor-arg index="2" ref="laptop" />-->
    </bean>

    <bean id="computer" class="org.example.Laptop" primary="true" lazy-init="true">
    </bean>

    <bean id="computer2" class="org.example.Desktop">
    </bean>

</beans>