<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--  By default, the scope is 'singleton' on bean tag  -->

    <bean id="alien" class="org.example.Alien" scope="prototype">
<!--   In the attribute 'name', the instance variable name i.e. age should be provided. Then, it will look for the 'setter method' i.e. setAge() of 'age' variable, and pass the value: 27 through parameter of setter method. This is how setter injection works.     -->
        <property name="age" value="27"></property>
    </bean>

    <bean id="laptop" class="org.example.Laptop">
    </bean>

</beans>