<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien" class="org.example.Alien">
    </bean>

    <bean id="laptop" class="org.example.Laptop">
    </bean>

    <bean id="laptop2" class="org.example.Laptop">
    </bean>

</beans>